.box3 {
    width: 100px;
    height: 100px;
    background-color: rgb(208, 203, 203);
    position: absolute;
    bottom: -70px;
    left: 50px;
    z-index: 1;
  }
  .main {
    height: 500px;
    width: 200px;
    background-color: gray;
    position: relative;
  }
  
  .box1 {
    background-color: gray;
    position: absolute;
    bottom: -50px;
    right: 0;
    z-index: 1;
  }
  .box2{
    background-color: black;
    height: 200px;
    width: 150px;
    position: absolute;
    bottom: 0;
    right: -70px;
  }